<xml>
	<property name="Signal Tree View" value="treeview" />
	<property name="Signal Tree View.column_0_width" value="293" />
	<property name="Signal Tree View.column_1_width" value="293" />
	<property name="Signal Tree View.column_2_width" value="60" />
	<property name="Signal Tree View.column_3_width" value="63" />
	<property name="Signal Tree View.width" value="214" />
	<property name="View" value="scopeview" />
	<property name="View.active_signal" value="-1" />
	<property name="View.autozoom_timer" value="false" />
	<property name="View.autozoomproperties_allsignals" value="true" />
	<property name="View.autozoomproperties_onlyvisiblevalues" value="false" />
	<property name="View.autozoomproperties_refreshrate" value="1000" />
	<property name="View.col_back_b" value="0" />
	<property name="View.col_back_g" value="0" />
	<property name="View.col_back_r" value="0" />
	<property name="View.col_grid_b" value="50" />
	<property name="View.col_grid_g" value="50" />
	<property name="View.col_grid_r" value="50" />
	<property name="View.column_name_width" value="100" />
	<property name="View.height" value="690" />
	<property name="View.link_selections" value="false" />
	<property name="View.maximized" value="false" />
	<property name="View.menubar" value="true" />
	<property name="View.sel_mode" value="0" />
	<property name="View.show_active_only" value="false" />
	<property name="View.show_markers" value="true" />
	<property name="View.show_modified_only" value="false" />
	<property name="View.show_one_scale" value="false" />
	<property name="View.showcolumn_minmaxavg" value="true" />
	<property name="View.showcolumn_selection" value="true" />
	<property name="View.showcolumn_unit" value="true" />
	<property name="View.sig0" value="adtf.core.mediadescription_manager/AADC_Converter_Wheels/distance_lastSample/data/tSignalValue/f32Value" />
	<property name="View.sig0.cblue" value="255" />
	<property name="View.sig0.cgreen" value="255" />
	<property name="View.sig0.cred" value="0" />
	<property name="View.sig0.displayname" value="f32Value" />
	<property name="View.sig0.factor" value="1" />
	<property name="View.sig0.linestyle" value="1" />
	<property name="View.sig0.max" value="1000" />
	<property name="View.sig0.min" value="-1000" />
	<property name="View.sig0.offset" value="0" />
	<property name="View.sig0.plotpoints" value="false" />
	<property name="View.sig0.scale_max" value="0,3519280209" />
	<property name="View.sig0.scale_min" value="-0,3172731653" />
	<property name="View.sig0.show" value="true" />
	<property name="View.sig0.show_scale" value="1" />
	<property name="View.sig0.unit" value="" />
	<property name="View.sig1" value="adtf.core.mediadescription_manager/AADC_Converter_Wheels/distance_overall/data/tSignalValue/f32Value" />
	<property name="View.sig1.cblue" value="255" />
	<property name="View.sig1.cgreen" value="0" />
	<property name="View.sig1.cred" value="255" />
	<property name="View.sig1.displayname" value="f32Value" />
	<property name="View.sig1.factor" value="1" />
	<property name="View.sig1.linestyle" value="1" />
	<property name="View.sig1.max" value="1000" />
	<property name="View.sig1.min" value="-1000" />
	<property name="View.sig1.offset" value="0" />
	<property name="View.sig1.plotpoints" value="false" />
	<property name="View.sig1.scale_max" value="27,56364466" />
	<property name="View.sig1.scale_min" value="-326,6571392" />
	<property name="View.sig1.show" value="true" />
	<property name="View.sig1.show_scale" value="1" />
	<property name="View.sig1.unit" value="" />
	<property name="View.signal_count" value="2" />
	<property name="View.signal_label_x_offset" value="0" />
	<property name="View.signal_label_y_offset" value="0" />
	<property name="View.splitterpos1" value="256" />
	<property name="View.splitterpos2" value="670" />
	<property name="View.statusbar" value="true" />
	<property name="View.toolbar" value="true" />
	<property name="View.width" value="940" />
	<property name="View.x_pos" value="29" />
	<property name="View.Xinterval" value="10000000" />
	<property name="View.y_pos" value="-39" />
	<property name="View.Ymax" value="27,56364466" />
	<property name="View.Ymin" value="-326,6571392" />
	<property name="View.zoom_mode" value="1" />
	<property name="View 2" value="tableview" />
	<property name="View 2.column_0_name" value="Signal" />
	<property name="View 2.column_0_show" value="true" />
	<property name="View 2.column_0_width" value="100" />
	<property name="View 2.column_1_name" value="Time" />
	<property name="View 2.column_1_show" value="true" />
	<property name="View 2.column_1_width" value="100" />
	<property name="View 2.column_2_name" value="Value" />
	<property name="View 2.column_2_show" value="true" />
	<property name="View 2.column_2_width" value="100" />
	<property name="View 2.column_3_name" value="Unit" />
	<property name="View 2.column_3_show" value="true" />
	<property name="View 2.column_3_width" value="100" />
	<property name="View 2.column_4_name" value="Raw" />
	<property name="View 2.column_4_show" value="true" />
	<property name="View 2.column_4_width" value="100" />
	<property name="View 2.column_5_name" value="Text" />
	<property name="View 2.column_5_show" value="true" />
	<property name="View 2.column_5_width" value="100" />
	<property name="View 2.height" value="200" />
	<property name="View 2.maximized" value="false" />
	<property name="View 2.signal_0_displayformat" value="1" />
	<property name="View 2.signal_0_displayname" value="f32Value" />
	<property name="View 2.signal_0_name" value="adtf.core.mediadescription_manager/AADC_Converter_Wheels/distance_overall/data/tSignalValue/f32Value" />
	<property name="View 2.signal_0_unit" value="" />
	<property name="View 2.signal_1_displayformat" value="1" />
	<property name="View 2.signal_1_displayname" value="f32Value" />
	<property name="View 2.signal_1_name" value="adtf.core.mediadescription_manager/AADC_Converter_Wheels/distance_lastSample/data/tSignalValue/f32Value" />
	<property name="View 2.signal_1_unit" value="" />
	<property name="View 2.signal_count" value="2" />
	<property name="View 2.width" value="550" />
	<property name="View 2.x_pos" value="284" />
	<property name="View 2.y_pos" value="408" />
	<property name="width" value="1174" />
</xml>
